<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="webTest"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/webTest/css/default.css">
         </property>
         <property
               name="appName"
               value="webTest">
         </property>
      </product>
   </extension>

<!-- base --> 
<extension
	point="org.eclipse.equinox.http.registry.httpcontexts">
		<httpcontext
			id="base">
			<resource-mapping
				path="/web">
			</resource-mapping>
		</httpcontext>
</extension>

<extension point="org.eclipse.equinox.http.registry.servlets">

  	<servlet
		 alias="/*.jsp"
		 class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/"
		 httpcontextId="base">
		 </servlet>
		 
</extension>

</plugin>
