<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ru.codeAnalyzer.toolbar">
            <command
                  commandId="ru.codeAnalyzer.commands.openMainView"
                  icon="icons/favicon.png"
                  label="Анализатор кода 1С"
                  mode="FORCE_TEXT"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.ui.popup.any?before=org.xmind.ui.insert">
         <menu
               icon="icons/favicon.png"
               label="Анализатор кода 1С">
            <command
                  commandId="ru.codeanalyzer.commands.Build"
                  icon="icons/goto.gif"
                  label="Построить"
                  style="push">
            </command>
            <command
                  commandId="ru.codeAnalyzer.toggleTopic"
                  label="Развернуть/Свернуть"
                  style="push">
            </command>
            <command
                  commandId="ru.codeanalyzer.commands.CallHierarchy"
                  icon="icons/list.gif"
                  label="Иерархия вызовов"
                  style="push">
            </command>
            <command
                  commandId="ru.codeanalyzer.commands.Search"
                  icon="icons/markers/codeanalyzer-search_text.png"
                  label="Поиск по тексту"
                  style="push">
            </command>
            <separator
                  name="ru.codeAnalyzer.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="ru.codeAnalyzer.commands.openModule"
                  icon="icons/edit.png"
                  label="Открыть модуль"
                  style="push">
            </command>
            <command
                  commandId="ru.codeanalyzer.commands.Compare"
                  label="Сравнить"
                  style="push">
            </command>
            <command
                  commandId="ru.codeanalyzer.commands.ParamsList"
                  icon="icons/param_list.gif"
                  label="Список параметров"
                  style="push">
            </command>
              
            
            
            
             <separator
                   name="ru.codeAnalyzer.separator2"
                   visible="true">
             </separator>
             <command
                   commandId="ru.codeanalyzer.commands.Clear"
                   label="Удалить подчиненные темы"
                   style="push">
             </command>
            
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate>
                     <and>
                        <instanceof
                              value="org.xmind.core.ITopic">
                        </instanceof>
                        <test
                              forcePluginActivation="true"
                              property="ru.codeAnalyzer.isLoaded">
                        </test>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
            
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:ru.codeAnalyzer.editor.context?after=additions">
         <command
               commandId="ru.codeAnalyzer.editor.go"
               icon="icons/goto.gif"
               label="Перейти к определению"
               style="push">
         </command>
         <command
               commandId="ru.codeAnalyzer.editor.collapseAll"
               label="Свернуть"
               style="push">
         </command>
         <command
               commandId="ru.codeAnalyzer.editor.expandAll"
               label="Развернуть"
               style="push">
         </command>
         <separator
               name="ru.codeAnalyzer.separator1"
               visible="true">
         </separator>
         <command
               commandId="ru.codeAnalyzer.editor.back"
               label="Назад"
               style="push">
         </command>
         <command
               commandId="ru.codeAnalyzer.editor.next"
               label="Вперед"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ru.codeanalyzer.commands.Build"
            name="Build">
      </command>
      <command
            id="ru.codeanalyzer.commands.Clear"
            name="Clear">
      </command>
      <command
            defaultHandler="ru.codeanalyzer.handlers.openMainView"
            id="ru.codeAnalyzer.commands.openMainView"
            name="mainView">
      </command>
      <command
            id="ru.codeAnalyzer.editor.collapseAll"
            name="Свернуть">
      </command>
      <command
            id="ru.codeAnalyzer.editor.expandAll"
            name="Развернуть">
      </command>
      <command
            id="ru.codeAnalyzer.Editor.gotoAction"
            name="gotoAction">
      </command>
      <command
            id="ru.codeAnalyzer.Editor.backAction"
            name="backAction">
      </command>
      <command
            id="ru.codeanalyzer.commands.CallHierarchy"
            name="CallHierarchy">
      </command>
      <command
            id="ru.codeanalyzer.commands.Search"
            name="Search">
      </command>
      <command
            id="ru.codeanalyzer.commands.ParamsList"
            name="ParamsList">
      </command>
      <command
            id="ru.codeanalyzer.commands.Compare"
            name="Compare">
      </command>
      <command
            id="ru.codeAnalyzer.commands.openModule"
            name="Открыть модуль">
      </command>
      <command
            id="ru.codeAnalyzer.editor.go"
            name="Перейти к определению">
      </command>
      <command
            id="ru.codeAnalyzer.editor.back"
            name="Назад">
      </command>
      <command
            id="ru.codeAnalyzer.editor.next"
            name="Вперед">
      </command>
      <command
            id="ru.codeAnalyzer.toggleTopic"
            name="Развернуть/Свернуть">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.codeanalyzer.handlers.Build"
            commandId="ru.codeanalyzer.commands.Build"
            helpContextId="ru.codeAnalyzer.Build">
      </handler>
      <handler
            class="ru.codeanalyzer.handlers.CallHierarchy"
            commandId="ru.codeanalyzer.commands.CallHierarchy">
      </handler>
      <handler
            class="ru.codeanalyzer.handlers.Clear"
            commandId="ru.codeanalyzer.commands.Clear">
      </handler>
      <handler
            class="ru.codeanalyzer.handlers.Search"
            commandId="ru.codeanalyzer.commands.Search">
      </handler>
      <handler
            class="ru.codeanalyzer.handlers.ParamsList"
            commandId="ru.codeanalyzer.commands.ParamsList">
      </handler>
      <handler
            class="ru.codeanalyzer.handlers.Compare"
            commandId="ru.codeanalyzer.commands.Compare">
      </handler>
      <handler
            class="ru.codeanalyzer.editor.handlers.collapseAll"
            commandId="ru.codeAnalyzer.editor.collapseAll">
      </handler>
      <handler
            class="ru.codeanalyzer.editor.handlers.expandAll"
            commandId="ru.codeAnalyzer.editor.expandAll">
      </handler>
      <handler
            class="ru.codeanalyzer.handlers.OpenModule"
            commandId="ru.codeAnalyzer.commands.openModule">
      </handler>
      <handler
            class="ru.codeanalyzer.editor.handlers.Go"
            commandId="ru.codeAnalyzer.editor.go">
      </handler>
      <handler
            class="ru.codeanalyzer.editor.handlers.Back"
            commandId="ru.codeAnalyzer.editor.back">
      </handler>
      <handler
            class="ru.codeanalyzer.editor.handlers.Next"
            commandId="ru.codeAnalyzer.editor.next">
      </handler>
      <handler
            class="ru.codeanalyzer.handlers.ToggleTopic"
            commandId="ru.codeAnalyzer.toggleTopic">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ru.codeanalyzer.propertyTesters.IsConfigurationLoaded"
            id="ru.codeAnalyzer.IsConfigurationLoaded"
            namespace="ru.codeAnalyzer"
            properties="isLoaded, notLoaded"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ru.codeanalyzer.preferences.PreferencePage"
            id="ru.codeanalyzer.preferences.PreferencePage"
            name="Анализатор кода 1С">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ru.codeanalyzer.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="ru.codeanalyzer.commands.Build"
            contextId="org.xmind.ui.context.mindmap"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
      <key
            commandId="ru.codeAnalyzer.commands.openModule"
            contextId="org.xmind.ui.context.mindmap"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+F1">
      </key>
      <key
            commandId="ru.codeanalyzer.commands.Clear"
            contextId="org.xmind.ui.context.mindmap"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="ESC">
      </key>
      <key
            commandId="ru.codeanalyzer.commands.Search"
            contextId="org.xmind.ui.context.mindmap"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F3">
      </key>
      <key
            commandId="ru.codeAnalyzer.Editor.gotoAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F12">
      </key>
      <key
            commandId="ru.codeAnalyzer.Editor.backAction"
            contextId="org.eclipse.ui.textEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="BS">
      </key>
      <key
            commandId="ru.codeanalyzer.commands.CallHierarchy"
            contextId="org.xmind.ui.context.mindmap"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F2">
      </key>
      <key
            commandId="ru.codeanalyzer.commands.ParamsList"
            contextId="org.xmind.ui.context.mindmap"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+F3">
      </key>
      <key
            commandId="ru.codeAnalyzer.editor.collapseAll"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+SHIFT+-">
      </key>
      <key
            commandId="ru.codeAnalyzer.editor.expandAll"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+SHIFT++">
      </key>
      <key
            commandId="ru.codeAnalyzer.editor.go"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F1">
      </key>
      <key
            commandId="ru.codeanalyzer.commands.Compare"
            contextId="org.xmind.ui.context.mindmap"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Alt+F2">
      </key>
      <key
            commandId="ru.codeAnalyzer.toggleTopic"
            contextId="org.xmind.ui.context.mindmap"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+F1">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.codeanalyzer.editor.Editor"
            default="false"
            icon="icons/markers/codeanalyzer-object.png"
            id="ru.codeAnalyzer.Editor"
            name="Анализатор кода 1С">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ru.codeAnalyzer"
            name="Анализатор кода 1С">
      </category>
      <view
            category="ru.codeAnalyzer"
            class="ru.codeanalyzer.views.MainView"
            icon="icons/favicon.png"
            id="ru.codeanalyzer.views.mainView"
            name="Анализатор кода 1С">
      </view>
      <view
            category="ru.codeAnalyzer"
            class="ru.codeanalyzer.views.OutlineView"
            icon="icons/list.gif"
            id="ru.codeAnalyzer.views.outline"
            name="Процедуры модуля"
            restorable="true">
      </view>
      <view
            category="ru.codeAnalyzer"
            class="ru.codeanalyzer.views.ProcCall"
            icon="icons/goto.gif"
            id="ru.codeanalyzer.views.ProcCall"
            name="Возможные переходы">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ru.codeanalyzer.perspectives.EditorPerspective"
            icon="icons/favicon.png"
            id="ru.codeanalyzer.perspectives.EditorPerspective"
            name="Анализатор кода 1С">
      </perspective>
   </extension>
   <extension
         point="org.xmind.ui.decorations">
      <decoration
            categoryId="org.xmind.ui.topicDecorations"
            id="org.xmind.topicShape.test"
            name="test">
         <class
               class="test.ru.codeanalyzer.test">
         </class>
      </decoration>
   </extension>

</plugin>
