<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="ru.configviewer.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ru.configviewer.Perspective"
            id="ru.configviewer.perspective"
            name="Основная перспектива">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ru.configviewer.views.MainView"
            id="ru.configviewer.views.main"
            name="Просмотр конфигурации">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ru.configviewer.command1"
            name="name">
      </command>
      <command
            id="ru.configviewer.update"
            name="Обновить">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <command
               commandId="ru.configviewer.command1"
               label="Восстановить"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ru.configviewer.editor.context?after=additions">
         <command
               commandId="ru.configviewer.update"
               label="Обновить"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ru.configviewer.handlers.handler"
            commandId="ru.configviewer.command1">
      </handler>
      <handler
            class="ru.configviewer.handlers.Update"
            commandId="ru.configviewer.update">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ru.configviewer.editor.Editor"
            default="false"
            id="ru.configviewer.editor"
            name="Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.products">
      <product
            application="ru.configviewer.product1"
            name="name">
      </product>
   </extension>

</plugin>
