<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="codeanalyzer"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/codeanalyzer/css/default.css">
         </property>
         <property
               name="appName"
               value="codeanalyzer">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://codeanalyzer/codeanalyzer.core.App">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="codeanalyzer.expressions.onContentSelected">
         <with
               variable="CONTENT_SECTION_SELECTED">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   
 
<!-- 
 --> 
<extension
	point="org.eclipse.equinox.http.registry.httpcontexts">
		<httpcontext
			id="base">
			<resource-mapping
				path="/_web">
			</resource-mapping>
		</httpcontext>
		
		<httpcontext
			id="info">
			<resource-mapping
				path="/_web/tmpl/info">
			</resource-mapping>
		</httpcontext>

</extension>

<extension point="org.eclipse.equinox.http.registry.resources">
<!--
	<resource
          alias="/about"
          base-name="/tmpl/about/scrolling-nav"
          httpcontextId="about">
    </resource>
     -->
 	<resource
          alias="/rinfo"
          httpcontextId="info">
    </resource>
</extension>

<extension point="org.eclipse.equinox.http.registry.servlets">
<!-- 
    <servlet
      alias="/test1"
      class="codeanalyzer.web.hessian.BasicService"/>
          
    <servlet
      alias="/list"
      class="codeanalyzer.web.BooksListServlet"/>
  --> 
  	<servlet
		 alias="/*.jsp"
		 class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/"
		 httpcontextId="base">
		 </servlet>
		    
     <servlet
           alias="/info"
           class="codeanalyzer.web.AboutServlet"
           httpcontextId="info"/>
          
	  
	<servlet
		 alias="/info/*.jsp"
		 class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/"
		 httpcontextId="info">
		 </servlet>
</extension>
  
   
</plugin>

