<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="codeanalyzer"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/codeanalyzer/css/default.css">
         </property>
         <property
               name="appName"
               value="codeanalyzer">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://codeanalyzer/codeanalyzer.core.App">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="codeanalyzer.expressions.onContentSelected">
         <with
               variable="CONTENT_SECTION_SELECTED">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>
   
 
<extension
	point="org.eclipse.equinox.http.registry.httpcontexts">
		<httpcontext
			id="base">
			<resource-mapping
				path="/_web">
			</resource-mapping>
		</httpcontext>
		
		<httpcontext
			id="jsp">
			<resource-mapping
				path="/_web/jsp">
			</resource-mapping>
		</httpcontext>
</extension>

<extension point="org.eclipse.equinox.http.registry.resources">
    <resource
          alias="/image"
          base-name="/images"
          httpcontextId="base">
    </resource>

</extension>

<extension point="org.eclipse.equinox.http.registry.servlets">
    <servlet
      alias="/test1"
      class="codeanalyzer._web.hessian.BasicService"/>
          
    <servlet
      alias="/list"
      class="codeanalyzer._web.BooksListServlet"/>
    
     <servlet
      alias="/about"
      class="codeanalyzer._web.AboutServlet"/>
      
    <servlet
      alias="/"
      class="codeanalyzer._web.IndexServlet"/>
    
    <servlet
		alias="/*.jsp"
		class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/"
		httpcontextId="base">
	</servlet>
	
	 
</extension>
  
   
</plugin>

