<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="codeanalyzer"
            application="org.eclipse.e4.ui.workbench.swt.E4Application">
         <property
               name="applicationCSS"
               value="platform:/plugin/codeanalyzer/css/default.css">
         </property>
         <property
               name="appName"
               value="codeanalyzer">
         </property>
         <property
               name="lifeCycleURI"
               value="bundleclass://codeanalyzer/codeanalyzer.core.AppManager">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="codeanalyzer.expressions.onContentSelected">
         <with
               variable="CONTENT_SECTION_SELECTED">
            <equals
                  value="true">
            </equals>
         </with>
      </definition>
   </extension>

</plugin>
